<head>
    <title>Chuyển tiền khác ngân hàng</title>
    <link rel="stylesheet" type="text/css" href="vendor2/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendor2/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="vendor2/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="vendor2/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="vendor2/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="vendor2/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/transfer.css">
</head>
<%- include('header'); -%>
    <div class="limiter">
        <div class="container-transfer">
            <form class="transfer-form validate-form">
                <span class="transfer-form-title p-b-43">Chuyển tiền khác ngân hàng</span>
                <h3>Thông tin người chuyển</h3>
                <div class="wrap-input100 validate-input">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Ngân hàng chuyển tiền - Bank</span>
                </div>
                <div class="wrap-input100 validate-input">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Họ và tên - LE HO GIA KIET</span>
                </div>
                <div class="wrap-input100 validate-input">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Tài khoản giao dịch - 0000 0000 0000</span>
                </div>
                <br>
                <h3>Thông tin người thụ hưởng</h3>
                <div class="wrap-input100 validate-input">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Ngân hàng thụ hưởng - Bank</span>
                </div>
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="" name="">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Tài khoản thụ hưởng</span>
                </div>
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Số tiền</span>
                </div>
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Nội dung</span>
                </div>
                <div class="container-transfer-form-btn">
                    <button class="transfer-form-btn">Chuyển tiền</button>
                </div>
            </form>
        </div>
    </div>
    <script src="vendor2/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor2/animsition/js/animsition.min.js"></script>
    <script src="vendor2/bootstrap/js/popper.js"></script>
    <script src="vendor2/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor2/select2/select2.min.js"></script>
    <script src="vendor2/daterangepicker/moment.min.js"></script>
    <script src="vendor2/daterangepicker/daterangepicker.js"></script>
    <script src="vendor2/countdowntime/countdowntime.js"></script>
    <script src="js/vendor2.js"></script>
    <%- include('footer'); -%>